h3,.h6{
    display: inline;
   
}


    .row{
        border-style: solid;
        border-width: 0.001em;
        border-color: rgba(160,160,255,0.5);
    }

  .clear{
  cursor: pointer;    
  }

  img{
      width: 15px;
      height: 20px;
      margin-right: 5px;
  }

  .lrn{
    color: white;
   background: #184369;
   border-radius: 2px;
   padding: 5px;

  }

  .clear{
      align-self: baseline;
      margin-right: 10px;
  }

  .final-wrp{
    display: flex;    
    align-items: center;
    height: 40px;   
  }

  hr{
    width: 100%; 
    color: lightblue;
     height: 0.001em; 
     background-color:lightblue;
  }

  .place-holder{
    opacity: 0.5;
  }