<div class="row">
  <div class="col-xs-12">
    <h3>
      1
    </h3>

    <cb-device [summaryMode]="true"></cb-device>
    <hr>

  </div>
  

  <div class="col-xs-12" *ngFor="let protocol of protocols$|async">
      <h3>
          2
        </h3>
    {{protocol.name}}
  </div>
  <hr>

  <div class="col-xs-12">
      <h3>3</h3>
    {{(time$|async)?.name}}
  </div>
  <hr>
  <div class="col-xs-12">
    <span (click)="onClear()" class="clear">Clear</span>
    <span class="blue">
      <span class="learn">arrow</span>
      <span class="learn">Start Learning</span>
    </span>
  </div>

</div>