<div class="row">
  <div class="col-xs-12">
    <h3>
      1
    </h3>
    <cb-device [summaryMode]="true"></cb-device>
    <hr  />
    
  </div>
  <div class="col-xs-12">
    <h3>
      2
    </h3>
    <span class="place-holder" *ngIf="(selected_protocols$|async).length==0">Select Protocols</span>
    <cb-protocol [summaryMode]="true"></cb-protocol>
     <hr  />
  </div>    
  <div class="col-xs-12">
      <h3>3</h3>
    {{(time$|async)?.name}}
     <hr  />
  </div>
 
  
  <div class="col-xs-12 final-wrp">
    <small class="pointer clear" (click)="onClear()">Clear</small>
    <span class="pointer lrn" (click)="onStartLearning()">
      <img src="assets/play_1_burned.png" alt="">
      Start Learning</span>
  </div>
</div>