<div class="row">
  <div class="col-xs-12 device-header">
    <span (click)="showDownArrow=!showDownArrow" [class.arrow-down]="showDownArrow"
          [class.arrow-up]="!showDownArrow"></span>
    <span></span>
    <input #inp (change)="onChk(inp.checked)" type="checkbox"/> {{deviceGroup.name}}
  </div>
  <ng-container *ngIf="!showDownArrow">
    <div class="col-xs-12 device-item" *ngFor="let device of deviceGroup.devices">
      <input [checked]="device.active" type="checkbox">
      {{device.name}}
    </div>
  </ng-container>

</div>

