<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      1 Select Blackboxes
      <cb-device  [summaryMode]="false"></cb-device>
    </div>
    <div class="col-md-3 col-xs-12">
        2 Select Protocols
      <cb-protocol   [summaryMode]="false"></cb-protocol>
    </div>
    <div class="col-md-3 col-xs-12">
        3 Select Time period
      <cb-time-period></cb-time-period>
    </div>
    <div class="col-md-3 col-xs-12">
      summary
      <cb-smumary></cb-smumary>
    </div>
  </div>
</div> 


