<div [class.noShow]="summaryMode" class="col-xs-12 device-header">
  <span (click)="showDownArrow=!showDownArrow" [ngClass]="arrowClass"></span>
  
  <input #groupIput (change)="onGroupChk(groupIput.checked,deviceGroup)" type="checkbox" [checked]="isGrpChecked" /> {{deviceGroup?.name}}
</div>
<ng-container *ngIf="!showDownArrow">
  <div class="col-xs-12" [class.item]="!summaryMode" *ngFor="let device of deviceGroup.devices">
    <input *ngIf="!summaryMode" #item (change)="onItemChk(item.checked,device,deviceGroup)" [checked]="(device.active)"
      type="checkbox">
    <span *ngIf="(!summaryMode || device.active==1)">
      {{device?.name}}
    </span>

  </div>
</ng-container>