.device-header{
    background: #184369;
    display: flex;
    height:30px;
    align-items: center; /* align vertical */
    color: white;
    margin-bottom: 1px;
  
    span{
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
 
    border-top: 5px solid white;
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  
    border-bottom: 5px solid white;
  }

  .item{
      padding-left: 40px;
  }